name: Convert Input to Capital

on:
  workflow_dispatch:
    inputs:
      user_input:
        description: 'Enter a string to convert to capital '
        required: true
      environment:
        required: true
        type: string        

jobs:
  capitalize:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}    
    steps:
      - name: Convert Input to Capital
        run: echo "${{ github.event.inputs.user_input }}" | tr '[:lower:]' '[:upper:]'
