name: Convert Input to Capital

on:
  workflow_dispatch:
    inputs:
      user_input:
        description: 'Enter a string to convert to capital letter'
        required: true

jobs:
  capitalize:
    runs-on: ubuntu-latest
    steps:
      - name: Convert Input to Capital
        run: echo "${{ github.event.inputs.user_input }}" | tr '[:lower:]' '[:upper:]'
